<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
      <p>
        Full Stack Engineer seeking to leverage my knowledge, experience,
        leadership skills, and teamwork capabilities in the web development
        ecosystem.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="./assets/img/About-photo.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Full Stack Engineer</h3>
        <p class="fst-italic">
          Part of my responsibilities include writing and debugging code. I work
          with JavaScript, HTML, CSS, Bootstrap, C#, Python and other common
          programming languages.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Website:</strong>
                <span>www.ianjones.tech.com</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Phone:</strong> <span>(561) 313-6648</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>City:</strong> <span>West Palm Beach, FL</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Degree:</strong> <span>Full Stack Engineer</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Email:</strong>
                <span>ianjosephjones@gmail.com</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Apart from being a software engineer, I enjoy most of my time being
          with my family. At night, you may find me at a local jazz session
          playing drums. On the weekends I like to play golf and attend church.
          When forced indoors, I spend a large amount of my free time exploring
          the latest technology advancements in the front-end web development
          world. I am also an aspiring chef.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
