<nav id="navbar" class="nav-menu navbar">
    <ul>
      <li>
        <a href="#hero" class="nav-link scrollto active"><i class="bi-house-fill"></i> <span>Home</span></a>
      </li>
      <li>
        <a href="#about" class="nav-link scrollto"><i class="bi-person"></i> <span>About</span></a>
      </li>
      <li>
        <a href="#resume" class="nav-link scrollto"><i class="bi-file-text"></i> <span>Resume</span></a>
      </li>
      <li>
        <a href="#portfolio" class="nav-link scrollto"><i class="bi-layout-text-window-reverse"></i> <span>Portfolio</span></a>
      </li>
    </ul>
  </nav>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>