
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">
    <div class="section-title">
      <h2>Portfolio</h2>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-web">Full Stack</li>
          <li data-filter=".filter-app">JavaScript Projects</li>
          <li data-filter=".filter-current">Current Projects</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="./assets/img/Enigma.PNG" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a href="https://www.enigmaagency.co/" target="_blank" title="See Live Demo"><i class="h5">See Live
                Demo</i></a>
            <a href="https://github.com/ianjosephjones/Enigma-Agency-1" target="_blank" title="More Details"><i
                class="h5">See Repo</i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="./assets/img/buyboatsAPI.png" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a href="https://www.buyboatsus.com/consignent" target="_blank" title="See Live Demo"><i class="h5">See
                Live Demo</i></a>
            <a href="https://github.com/ianjosephjones/Boats" target="_blank" title="More Details"><i class="h5">See
                Repo</i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-current">
        <div class="portfolio-wrap">
          <img src="./assets/img/HyWyre.PNG" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a href="https://ianjosephjones.github.io/HyWyre-i.t/" target="_blank" title="See Live Demo"><i
                class="h5">See Live Demo</i></a>
            <a href="https://github.com/ianjosephjones/HyWyre-i.t" target="_blank" title="More Details"><i
                class="h5">See Repo</i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-current">
        <div class="portfolio-wrap">
          <img src="./assets/img/Elite_Bodies.png" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a href="https://ianjosephjones.github.io/Elitebodies/" target="_blank" title="See Live Demo"><i
                class="h5">See Live Demo</i></a>
            <a href="https://github.com/ianjosephjones/Elitebodies" target="_blank" title="More Details"><i
                class="h5">See Repo</i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-current">
        <div class="portfolio-wrap">
          <img src="./assets/img/Next_Investments.png" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a href="https://ianjosephjones.github.io/Beginner-Project/" target="_blank" title="See Live Demo"><i
                class="h5">See Live Demo</i></a>
            <a href="https://github.com/ianjosephjones/Beginner-Project" target="_blank" title="See Repo"><i
                class="h5">See Repo</i></a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="./assets/img/My_Emojis.png" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a href="https://ianjosephjones.github.io/personal_emojis/" target="_blank" title="See Live Demo"><i
                class="h5">See Live Demo</i></a>
            <a href="https://github.com/ianjosephjones/Scrimba/tree/master/personal_emojis" target="_blank"
              title="More Details"><i class="h5">See Repo</i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="./assets/img/My_Personal_Diary_JS.png" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a href="https://ianjosephjones.github.io/building_a_diary_app/" target="_blank" title="See Live Demo"><i
                class="h5">See Live Demo</i></a>
            <a href="https://github.com/ianjosephjones/Scrimba/tree/master/building_a_diary_app" target="_blank"
              title="More Details"><i class="h5">See Repo</i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="./assets/img/To_Buy_List.png" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a href="https://ianjosephjones.github.io/To-buy-List/" target="_blank" title="See Live Demo"><i
                class="h5">See Live Demo</i></a>
            <a href="https://github.com/ianjosephjones/Scrimba/blob/master/functions/minichallenge5.html"
              target="_blank" title="More Details"><i class="h5">See Repo</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  </section>
  <!-- End Portfolio Section  -->