<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Summary</h3>
        <div class="resume-item pb-0">
          <h4>Ian Jones</h4>
          <p>
            <em
              >Innovative and deadline-driven full stack developer with
              real-world & classroom experience designing and developing
              user-centered websites.</em
            >
          </p>
          <ul>
            <li>West Palm Beach, FL</li>
            <li>(561) 313-6648</li>
            <li>ianjosephjones@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>FULL STACK ENGINEER</h4>
          <h5>2021 - Present</h5>
          <p><em>PC Professor, FL</em></p>
          <p>Full Stack Engineer</p>
        </div>
        <div class="resume-item">
          <h4>HIGH SCHOOL DIPLOMA</h4>
          <h5>2002 - 2006</h5>
          <p><em>PALM BEACH CENTRAL HIGH SCHOOL, FL</em></p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>FULL STACK ENGINEER</h4>
          <h5>2021 - Present</h5>
          <p><em>Enigma Angency, North Carolina</em></p>
          <ul>
            <li>
              Writing responsive websites using programming languages such as
              HTML, CSS JavaScript & Bootstrap
            </li>
            <li>
              Incorporating api layers to handle contact forms with two sided
              email responses
            </li>
            <li>Azure api hosting services and Azure static site hosting</li>
            <li>Deploy environment variables using Azure</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>OWNER/OPERATOR OF IAN JOSEPH JONES PHOTOGRAPHY LLC</h4>
          <h5>2013 - Present</h5>
          <p><em>Wedding Photography</em></p>
          <ul>
            <li>
              Responsible for all book-keeping, scheduling, and maintain all
              customer accounts along with monitoring daily business operations
            </li>

            <li>
              Currently managing a successful website to showcase my current
              work & helpful information for potential clients
            </li>
            <li>
              Implementing design and SEO to my website attract more customers
              as well as maintaining a proper Google ranking
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Section -->
